@media (max-width:1304px) {
    .course-content>p {
        font-size: 4.5rem;
    }

    .about>img {
        width: 25%;
        height: 500px;
    }
}

@media (max-width:1325px) {
    .course-content > p{
        border: 1px solid blue;
        font-size: 4.3rem;
    }
    .about > img{
        width: 20em;
        height: 500px;
    }
    
}

@media (max-width:1180px) {
    .tag_line .child:not(:nth-last-child(1)) {
        font-size: 5.5rem
    }

    .course-content>p {
        font-size: 3.3rem;
    }

    #img {
        width: 18em;
        height: 400px;
    }

    .p1 {
        font-size: 0.9rem;
    }

    .p2 {
        font-size: 0.9rem;
    }

    .about>img {
        /* width: 23%; */
        height: 400px;
    }

    .about_cont_3 {
        margin: 0
    }

    .image1 {
        width: 250px;
    }

    .image2 {
        width: 250px;
    }

    .image3 {
        width: 250px;
    }
}

@media (max-width:1024px) {
    .p1 {
        font-size: 0.85rem;
    }

    .p2 {
        font-size: 0.85rem;
    }

    .course-content {
        /* border: 1px solid blue; */
        margin-right: 6rem;
    }

    .course-content>p {
        padding-left: 20px;
        /* border: 1px solid red; */
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .course-block {
        align-items: center;
        justify-content: center;
    }

    .about>img {
        /* width: 23%; */
        height: 350px;
    }

    .dash {
        font-size: 16px;
        /* margin-bottom: 0; */
    }

    .para_content {
        margin-top: 2rem;
    }
}

/* @media (max-width:768px) {
    .heading_left{
        border: 1px solid red;
        margin-left: 2rem;
    }
    .heading_right{
        border: 1px solid red;
        margin-right: 2rem;
    }
    .tag_line .child:not(:nth-last-child(1)) {
        font-size: 4rem;
    }
} */